# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
dist/
build/

# Ambiente
.env
.env.*.local
.env.local
.env.test.local
.env.production.local

# Sistema operacional
.DS_Store
Thumbs.db

# Editor de código
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Testes
coverage/